Repository AckeeCZ/configuru: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.{ts,js,json,md}": "prettier --write"
}

🎨 Format with prettier
  .eslintrc.js
  .huskyrc.json
  CHANGELOG.md
  README.md
  jest.config.js
  src/index.ts
  src/lib/helpers.ts
  src/lib/loader.ts
  src/lib/polishers.ts
  src/lib/storage.ts
  src/test/helpers.test.ts
  src/test/loader.test.ts
  src/test/polishers.test.ts
  src/test/sandbox/default.json
  src/test/sandbox/invalid.jsonx
  src/test/sandbox/user.json
  src/test/storage.test.ts
  tsconfig.json
  tslint.json
  typedoc.json
Due: prettier --write, eslint --fix

🚨 Fix linter warnings
  src/lib/loader.ts
  src/lib/polishers.ts
  src/lib/storage.ts
  src/test/loader.test.ts
Due: prettier --write, eslint --fix

📝 Add pr template
  .github/pull_request_template.md
Due: prettier --write

📝 Add constributing.md
  .github/contributing.md
Due: prettier --write

🎨 Fix formatting
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  CODE_OF_CONDUCT.md
  README.md
  wiki/advanced-usage.md
  wiki/best-practices.md
  wiki/storage-precedence.md
Due: prettier --write

🔖 0.6.0
  package.json
Due: prettier --write

⬆️ Upkeep - Bump dependencies
  package.json
Due: prettier --write

🏷️ Add type support for nested loaders
  src/lib/polishers.ts
Due: prettier --write, eslint --fix

🔖 0.6.1
  package.json
Due: prettier --write

👷 Add github actions for lint, test and publish
  .github/workflows/lint.yml
  .github/workflows/npm-publish.yml
  .github/workflows/test.yml
Due: none

💚 Fix Lint action, update dependencies
  .github/workflows/lint.yml
  .github/workflows/test.yml
  package.json
  src/test/__snapshots__/polishers.test.ts.snap
  src/test/polishers.test.ts
Due: prettier --write, eslint --fix

💚 Update husky, fix lint error, set minimum engine to support tests
  .github/workflows/test.yml
  .husky/pre-commit
  .huskyrc.json
  package.json
  src/lib/loader.ts
  src/lib/polishers.ts
Due: prettier --write, eslint --fix

🔖 0.6.2
  package.json
Due: prettier --write

🔥 Drop Node 12 and 14 support
  .github/workflows/lint.yml
  .github/workflows/npm-publish.yml
  .github/workflows/test.yml
  package.json
Due: prettier --write

🚚 Rename safeValues to maskedValues
  src/index.ts
  src/lib/polishers.ts
Due: prettier --write, eslint --fix

🔥 Remove changelog
  CHANGELOG.md
Due: prettier --write

📝 Update wiki
  wiki/advanced-usage.md
Due: prettier --write

🔥 Remove npm-check
  package.json
Due: prettier --write

📝 Replace invalid emoji pictures and remove badges
  README.md
Due: prettier --write

✨ Add github issue forms and PR template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/pull_request_template.md
Due: prettier --write

⬆️ Upgrade TypeScript
  package.json
Due: prettier --write

💄Add new logo
  README.md
  logo.png
Due: prettier --write

♻️Update lint and ci scripts
  .github/workflows/lint.yml
  .github/workflows/npm-publish.yml
  .github/workflows/test.yml
  package.json
Due: prettier --write

⬆️ Update styleguide config to the newest version
  .eslintrc.js
  src/lib/loader.ts
  src/lib/storage.ts
  src/test/storage.test.ts
  tslint.json
Due: prettier --write, eslint --fix

⬆️ Deprecate node 16
  package.json
Due: prettier --write

👷 Drop temporarily node 22 tests
  .github/workflows/lint.yml
  .github/workflows/npm-publish.yml
  .github/workflows/test.yml
Due: none

🔖 1.0.0
  package.json
Due: prettier --write

👷 Fix npm publish node version
  .github/workflows/npm-publish.yml
Due: none

📝 Add note about VS Code extension
  README.md
Due: prettier --write

✨ Accept inlined secrets in paths
  README.md
  src/lib/storage.ts
  src/test/storage.test.ts
Due: prettier --write, eslint --fix

➖ Remove codecov
  .github/workflows/test.yml
  package.json
Due: prettier --write

✨ Add support for node22
  .github/workflows/lint.yml
  .github/workflows/npm-publish.yml
  .github/workflows/test.yml
Due: none

🔖 1.1.0
  package.json
Due: prettier --write

✨ Increased transparency by always using env var names
  src/lib/helpers.ts
  src/lib/loader.ts
  src/lib/polishers.ts
  src/test/loader.test.ts
Due: prettier --write, eslint --fix

⬆️ Upgrade @ackee/styleguide-backend-config to v1.0.0
  package.json
Due: prettier --write

🚨 Fix lint warnings & errors
  src/lib/loader.ts
  src/lib/polishers.ts
  src/lib/storage.ts
  src/test/loader.test.ts
Due: prettier --write, eslint --fix

📝 Update docs
  wiki/advanced-usage.md
Due: prettier --write

👷 Publish npm package with provenance
  .github/workflows/lint.yml
  .github/workflows/npm-publish.yml
  .github/workflows/test.yml
  package.json
Due: prettier --write

📝 Add latest contributors
  package.json
Due: prettier --write
