Repository AckeeCZ/configuru: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.{ts,js,json,md}": "prettier --write"
}

🐛 Fix relative paths in error messages
  src/lib/storage.ts
Due: prettier --write, eslint --fix

🐛 Anonymize failed transform value
  src/lib/loader.ts
Due: prettier --write, eslint --fix

👷 Update styleguide
  package.json
Due: prettier --write

👷 Add codestyle scripts
  package.json
Due: prettier --write

✨ Fix lint warnings
  .eslintrc.js
  src/lib/polishers.ts
  src/lib/storage.ts
Due: prettier --write, eslint --fix

👷 Add node 24 tests to pipeline
  .github/workflows/lint.yml
  .github/workflows/npm-publish.yml
  .github/workflows/test.yml
Due: none

👷 Remove lint staged and husky
  .husky/pre-commit
  .lintstagedrc
  .travis.yml
  package.json
Due: prettier --write

💚 Remove npm prepare script
  package.json
Due: prettier --write

🔖 1.1.1
  package.json
Due: prettier --write

Update .npmrc
  .npmrc
Due: none

✨ Rework API to enable empty env names in schema
  README.md
  src/index.ts
  src/lib/helpers.ts
  src/lib/loader.ts
  src/lib/polishers.ts
  src/lib/schema.ts
  src/lib/storage.ts
  src/test/loader.test.ts
  src/test/sandbox/base.jsonc
  wiki/advanced-usage.md
  wiki/best-practices.md
Due: prettier --write, eslint --fix

✨ Implement config reloading
  README.md
  src/lib/loader.ts
  src/test/loader.test.ts
  wiki/advanced-usage.md
  wiki/best-practices.md
Due: prettier --write, eslint --fix

🔖 2.0.0
  package.json
Due: prettier --write

✨ Add trusted publishers
  .github/workflows/npm-publish.yml
Due: none

🔖 2.0.1
  package.json
Due: prettier --write

✨ Add package lock
  .gitignore
  package-lock.json
Due: prettier --write

♻️ Update userConfigPath resolution to use CONFIGURU_CONFIG and deprecate CFG_JSON_PATH
  src/lib/loader.ts
Due: prettier --write, eslint --fix

✅ Add tests for user config variable handling
  src/test/loader.test.ts
Due: prettier --write, eslint --fix

📝 Update README and advanced usage documentation to reflect the deprecation of CFG_JSON_PATH in favor of CONFIGURU_CONFIG
  README.md
  wiki/advanced-usage.md
Due: prettier --write

🔖 2.1.0
  package-lock.json
  package.json
Due: prettier --write

✨ Remove envMode loader option
  README.md
  src/lib/loader.ts
  src/lib/storage.ts
  src/test/loader.test.ts
  src/test/storage.test.ts
  wiki/advanced-usage.md
  wiki/storage-precedence.md
Due: prettier --write, eslint --fix

✨ Remove deprecated CFG_JSON_PATH variable
  README.md
  src/lib/loader.ts
  src/test/loader.test.ts
  wiki/advanced-usage.md
Due: prettier --write, eslint --fix
